@import "tailwindcss";

:root {
  --brand-yellow: #ffd166;
  --brand-teal: #00b5ad;
  --brand-blue: #0b5567;
  --accent-red: #ff6b6b;
}
body { @apply bg-white text-slate-800; }
.dark body { @apply bg-slate-900 text-slate-100; }